$black: #1d1d1d;
$grey: #5b5b5b;
$grey-light: #a3a3a3;
$grey-light-light: #c3c3c3;
$grey-light-light-light: #cecece;
$winter: #e7e9eb;
$white: #fafafa;
$blue: #4c78d8;
$blue-sky: #009ebd;
$orange: #d8974c;
$yellow: #f2b701;
$yellow-2: #eeb80e;
//$green: #52bc48;
$green: #65af64;
$red: #c53131;
$credit: #f8ae2e;
$ducket: #d798d7;
$diamond: #68c7cc;
$salmon: #ee867b;
$purple: #9180ff;
