@font-face {
  font-family: 'Habbofont';
  src: url('../assets/fonts/habbofont/habbfont.woff2') format('woff2'),
  url('../assets/fonts/habbofont/habbfont.woff') format('woff');
  unicode-range: U+007C, U+2020, U+2022, U+00B6, U+00B1, U+00A5, U+00B5, U+00AA, U+00BA, U+00AC, U+0192, U+00BB, U+2014, U+2018, U+2021;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-300.eot');
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-300italic.eot');
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300italic.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300italic.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300italic.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-300italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-regular.eot');
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-regular.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-regular.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-regular.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-italic.eot');
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-italic.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-italic.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-italic.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-500.eot');
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-500italic.eot');
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500italic.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500italic.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500italic.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-500italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-700.eot');
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/ubuntu/ubuntu-v15-latin-700italic.eot');
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700italic.eot') format('embedded-opentype'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700italic.woff2') format('woff2'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700italic.woff') format('woff'),
  url('../assets/fonts/ubuntu/ubuntu-v15-latin-700italic.ttf') format('truetype');
}
