a,
abbr,
acronym,
address,
applet,
area,
article,
aside,
audio,
b,
base,
basefont,
bb,
bdo,
big,
blockquote,
body,
br,
button,
canvas,
caption,
center,
cite,
code,
col,
colgroup,
command,
datagrid,
datalist,
dd,
del,
details,
dfn,
dialog,
dir,
div,
dl,
dt,
em,
embed,
eventsource,
fieldset,
figure,
font,
footer,
form,
frame,
frameset,
h1 to h6,
head,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
isindex,
kbd,
keygen,
label,
legend,
li,
link,
map,
mark,
menu,
meta,
meter,
nav,
noframes,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
script,
section,
select,
small,
source,
span,
strike,
strong,
style,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
title,
tr,
track,
tt,
u,
ul,
var,
video,
wbr,
::after,
::before,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  z-index: 3;
  font-family: "Habbofont", "Ubuntu", Arial, Helvetica, sans-serif;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-smooth-scroll {
  scroll-behavior: auto;
}

.condensed {
  font-family: "Habbofont", "Ubuntu Condensed", Arial, Helvetica, sans-serif;
}

img {
  font-size: 0;
}

a,
[href],
button,
input[type="submit"],
.btn {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #b8bbba;
  border-radius: $big-border-radius;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: $white;
  border-radius: $big-border-radius;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}