$very-big-border-radius: 22px;
$big-border-radius: 17px;
$medium-border-radius: 12px;
$small-border-radius: 8px;

$sprite-icons-url: '~/app/game-interface/softy/assets/images/sprite-icons.png';
$interface-sprite-url: '~/app/game-interface/softy/assets/images/sprite-itf1.png';
$bubble-chat-asset: '~../assets/images/chat_bubbles/';
