{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "sort-imports-es6-autofix",
    "unused-imports"
  ],
  "env": {
    "browser": true
  },
  "extends": ["airbnb-typescript/base"],
  "rules": {
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/no-redeclare": ["off"],
    "for-direction": "error",
    "func-call-spacing": ["error", "never"],
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "linebreak-style": [0, "error", "windows"],
    "lines-between-class-members": "off",
    "max-len": [0, 120],
    "no-bitwise": "off",
    "no-console": "off",
    "no-mixed-operators": "off",
    "no-multi-assign": "off",
    "no-param-reassign": [2, {"props": false}],
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-redeclare": "off",
    "object-curly-newline": ["error"],
    "prefer-destructuring": "off",
    "radix": ["error", "as-needed"],
    "space-before-function-paren": "off",
    // I recommend turning this on when you are ready to refactor, can improve performance a lot
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "unused-imports/no-unused-imports": "error"
  }
}
