@font-face {
  font-family: "Ubuntu Condensed";
  src: url("habbo/fonts/UbuntuCondensed.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url("habbo/fonts/UbuntuRegular.woff2") format("woff2");
}
